output.txt
output*/
sam_old_scripts/
libs/pointops/build/
libs/pointops/dist/
libs/pointops/pointops.egg-info/
libs/pointops/cuda_12.0.0_525.60.13_linux.run
scannet-preprocess/processed_dataset/
scannet-preprocess/raw_dataset/
ScanNetv2_Downloads/
codebase/
__pycache__/
HowToRun.md
visualize_save.py
visualize_save_v*.py
datasets/*
